
    <!-- Modal -->
    <div class="modal fade " id="noticeModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="staticBackdropLabel">Important Notice</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body terms-modal">
                    <p>
                        Dear @User.Identity.Name😊,
                    </p>

                    <p>We would like to express our heartfelt gratitude for choosing Bongo for your needs. We strive to provide the best experience and service to our users.</p>

                    <p>
                        Currently, we are making some important updates to improve our services. During this period, you may encounter certain features that are temporarily unavailable. We suggest that you use desktop (laptop) for better exeperience. We sincerely apologize for any inconvenience this may cause.
                    </p>
                    <p>
                        If you encounter any issues or have any questions, please do not hesitate to contact our support team. We are here to assist you and ensure that your experience with Bongo is as seamless as possible.
                    </p>
                    <p>Thank you for your understanding and continued support.<br /></p>

                    <p> Best regards,<br />The Bongo Team</p>

                </div>
                <div class="modal-footer">
                    <form asp-controller="Home" asp-action="Notice" method="post">
                        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
