@model AnswerSecurityQuestionViewModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Security Question";
}

<div class="register-form position-relative shadow mt-5">
    <div class="account-forms">
        <div class="mb-3 text-center">
            <h4 class="fw-bold">Verify its you!</h4>
            <p>Please answer the following security question to reset your password</p>
        </div>
        <form class="mb-4" asp-action="ForgotPassword" asp-controller="Account" method="post">
            <div class="mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h5>@Model.SecurityQuestion</h5>
                <input class="form-control" asp-for="SecurityQuestion" hidden />
            </div>
            <div class="mb-4">
                <span asp-validation-for="SecurityAnswer" class="text-danger"></span>
                <input class="form-control" asp-for="SecurityAnswer" required />
                <input class="form-control" asp-for="Username" name="Username" hidden />

            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

