@model ForgotPassword

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Forgot password";
}

<div class="register-form position-relative shadow mt-5">
    <div class="account-forms">


        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show alert-login" role="alert">
                <i class="fa-solid fa-check"></i>
                @TempData["Message"]
            </div>
        }
        <div class="mb-3 text-center ">
            <h4 class="fw-bold">Reset Password😊</h4>
            <p>Enter your username. We'll verify your account.</p>
        </div>
        <form class="mb-4" asp-route-username="" asp-action="VerifyUsername" asp-controller="Account" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-4">
                <label class="form-label" asp-for="Username"></label>
                <span asp-validation-for="Username" class="text-danger"></span>
                <input type="text" class="form-control" asp-for="Username" name="username" />
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
        <div class="form-footer-terms my-4 text-center">
            By signing in, you agree to Bongo's <br />
            <a class="text-decoration-none text-black fw-bold" data-bs-toggle="modal" data-bs-target="#termsModal">
                Terms and conditions
            </a>
            <a class="text-decoration-none text-black fw-bold" data-bs-toggle="modal" data-bs-target="#privacyModal">
                | Privacy policy
            </a>
        </div>
        <a class=" text-decoration-none" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-arrow-left fa-xl me-2"></i>Back</a>
    </div>
</div>