@model RegisterModel

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Welcome";
}

<div class="register-form shadow mt-5">
    <div class="account-forms">
        <div class="mb-3 text-center">
            <h4 class="fw-bold">Create an account</h4>
            <p>Please enter your credentials</p>
        </div>
        <form class="mb-3" asp-controller="Account" asp-action="Register" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-4">
                <label for="username" class="form-label" asp-for="UserName"></label>
                <span class="text-danger" asp-validation-for="UserName"></span>
                <input type="text" class="form-control" placeholder="eg. user101" asp-for="UserName" />
            </div>
            <div class="mb-4">
                <label for="username" class="form-label" asp-for="Email"></label>
                <span class="text-danger" asp-validation-for="Email"></span>
                <input type="text" class="form-control" placeholder="eg. user@gmail.com" asp-for="Email" />
            </div>
            <div class="mb-4">
                <label class="form-label" asp-for="Password"></label>
                <span class="text-danger " asp-validation-for="Password"></span>
                <input type="password" class="form-control" asp-for="Password" />
            </div>
            <div class="mb-4">
                <label class="form-label" asp-for="ConfirmPassword"></label>
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                <input type="password" class="form-control" asp-for="ConfirmPassword" />
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
        <div class="form-footer-terms my-4 text-center">
            By registering, you agree to Bongo's <br />
            <a class="text-decoration-none text-black fw-bold" data-bs-toggle="modal" data-bs-target="#termsModal">
                Terms and conditions
            </a>
            <a class="text-decoration-none text-black fw-bold" data-bs-toggle="modal" data-bs-target="#privacyModal">
                | Privacy policy
            </a>
        </div>
        <a class=" text-decoration-none" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-arrow-left fa-xl me-2"></i>Back</a>
    </div>
</div>


@await Html.PartialAsync("_TermsAndPrivacyModal")

