@{
    Layout = "_LoginLayout";
}

<div>
    <h1 class="text-center">Ooops!😥</h1>
    <form asp-action="ClearTable" asp-controller="Session" asp-route-id="1" method="post">
        <p>Something went wrong.<button class="border-0 text-decoration-underline text-primary" style="background-color:transparent; width:fit-content; " type="submit">Re-upload</button>your personal timetable and try again. If the error persist please contact the developers @@ <a href="mailto:bongospprt@gmail.com">bongospprt@gmail.com</a></p>
    </form>
</div>